@charset "utf-8";
/* CSS Document */
.register{
	text-align:left;
}

#left{
	width:20%;
	float:left;
	height::100%;
	
}
#left a{
	font-size:12px;
}
#left li a{
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666
}

#right{
	width:80%;
	float:right;
	height:100%;
}

.first{
	text-align:center;
	font-size:36px;
	font-family:"华文隶书";
}